html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

.link {
  color: inherit;
}
.--absolute {
  position: absolute;
}
.--bottom {
  bottom: 1em;
}
.--right {
  right: 1em;
}
